@import '../../styles/_variables';

.page-row {
    @media(min-width: $screen-md-min) {
        align-items: center;
    }
}

.login-form-container {
    background: #ccc;
    border: 0.25rem groove #666;
    padding: 2rem 3rem;
}
